@inherits LayoutComponentBase

<div class="panel">
    <div class="panel-header">
      <div class="tabs">
        <div class="tab-item left">Portfolio</div>
        <div class="tab-item right">Artist</div>
      </div>
    </div>
    <div class="panel-body">
        @Body
    </div>
</div>